<div class="row">
  <div class="large-4 columns">
    <h1>Lost password?</h1>
    <h2>
      Too Bad!
    </h2>
  </div>
  <div class="large-8 columns">
    <h1>Log in</h1>

    <form action="/login" method="POST">
      <div class="large-12 columns">
        <input type="text" id="email" name="email" placeholder="Email address" class="large-4 columns clear">
      </div>
      <div class="large-12 columns">
        <input type="password" id="password" name="password" placeholder="Password" class="large-4 columns">&nbsp;
        <button id="toggle-password-field" class="small button alert">Show Password</button>
      </div>
      <div class="large-12 columns">
        <input type="submit" value="Log In" class="small button">
      </div>
    </form>
  </div>
</div>