
	<div class="large-4 columns">
		<h2>Lost your password? Too bad!</h2>
		
		
		
	</div>

	<div class="large-8 columns">
		<h1>Log in</h1>

		<form action="/login" method="POST">
			<p><input type="text" id="email" placeholder="Email address"></p>

			<p><input type="password" id="password" placeholder="Password"></p>

			<p><input type="submit" value="Log in" class="small button"></p>

		</form>  
	</div>
